<form id="add_user" method="POST" action="/api/users">
    <div class="new_user">
        <div class="form-group">
            <label for="typeDocument" class="text-light">Type Document</label>
            <select name="typeDocument">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="cc">C.C.</option>
                <option value="ti">T.I.</option>
                <option value="ce">C.E.</option>
            </select>
        </div>
        <div class="form-group">
            <label for="document" class="text-light">Document</label>
            <input type="text" name="document" value="" placeholder="10555555">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Juan Diego">
        </div>
        <div class="form-group">
            <label for="lastname" class="text-light">Last Name</label>
            <input type="text" name="lastname" value="" placeholder="Osorio C.">
        </div>
        <div class="form-group">
            <label for="email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="juan@juan.com">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" name="gender" value="Male" id="radio-g-m">
                <label for="radio-g-m" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" name="gender" value="Female" id="radio-g-f">
                <label for="radio-g-f" class="radio-label">Female</label>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" name="status" value="Active" id="radio-s-1">
                <label for="radio-s-1" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" name="status" value="Inactive" id="radio-s-2">
                <label for="radio-s-2" class="radio-label">Inactive</label>
            </div>
            <div class="form-group">
                <label for="area" class="text-light">Area</label>
                <select name="area">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="administration">Administration</option>
                    <option value="management">Management</option>
                    <option value="Logistics">Logistics</option>
                </select>
            </div>
            <div class="form-group">
                <label for="subarea" class="text-light">Subarea</label>
                <select name="subarea">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option value="admin1">Admin 1</option>
                    <option value="admin2">Admin 2</option>
                    <option value="admin3">Admin 3</option>
                    <option value="manag1">Manag 1</option>
                    <option value="manag2">Manag 2</option>
                    <option value="manag3">Manag 3</option>
                    <option value="log1">Logist 1</option>
                    <option value="log2">Logist 2</option>
                    <option value="log3">Logist 3</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn text-dark update">
                    Save
                </button>
            </div>
        </div>
    </div>

</form>